<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <title>Football App</title>
    <link rel="stylesheet" th:href="@{/views.css}"/>
</head>
<form th:action="@{/addPlayerToTeam/{pId}(pId = ${player.id} )}" method="post" th:object="${team}">

    <div th:if="${message != null}" th:text="${message}" id="notification_msg" class="container returnTo">Static summary</div>
    <div class="container">
        <h1>Add Player to Team</h1>
        <hr>

        <label for="firstName" class="view-left">First Name</label>
        <span th:text="${player.firstName}" class="view-right"/>
        <br/>

        <label for="lastName" class="view-left">Last Name</label>
        <span th:text="${player.lastName}" class="view-right"/>
        <br/>

        <label for="teamName" class="view-left">Team Name</label>
        <select id="tm" name="tm" th:field="*{id}" >
            <option value="">Select Team</option>
            <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"/>
        </select>

        <button type="submit" id="add_player_to_team_btn" class="btn">Add to the Team</button>

    </div>
    <div class="container returnTo">
        <a th:href="@{/}">Return to Home</a>
    </div>
</form>

</html>